.barra-de-tareas {
  background-color: $vacio;
  color: $tope;
  font-family: "Univers Condensed";
  font-size: 13px;
  font-weight: 400;
  padding: 0 17px 0 17px;
}

.escritorios {
  padding: 0 14px 0 14px;
}

.icono-escritorio.activo {
  font-size: 16px;
  padding: 0 8px 0 2px;
  color: $tope;
}

.icono-escritorio {
  font-size: 14px;
  padding-top: 4px;
  color: $nube;
}

.tiempo {
  font-size: 8pt;
  font-weight: 500;
  color: $tope;
}
