.barra-de-tareas {
  background-color: $vacio;
  color: $tope;
  font-family: "Gobold";
  padding: 4px 17px;
  font-size: 8pt;
}

.escritorios {
  @extend .contenedor;
}

.icono-escritorio.activo {
  padding: 0 8px 0 2px;
  font-size: 12pt;
  color: $tope;
}

.icono-escritorio {
  font-size: 10pt;
  padding-top: 4px;
  color: $nube;
}

.tiempo {
  font-size: 7pt;
  color: $tope;
  @extend .contenedor;
}

.indicador-bandeja-del-sistema button {
  @extend .contenedor;
  & .texto {
    padding: 0 2px 0 0;
  }

  &:hover {
    background-color: $vacio;
  }
}
