.barra-de-tareas {
  background-color: $vacio;
  color: $tope;
  font-family: "Gobold";
  padding: 0 17px 0 17px;
  font-size: 8pt;
}

.escritorios {
  padding: 0 14px 0 14px;
}

.icono-escritorio.activo {
  padding: 0 8px 0 2px;
  font-size: 12pt;
  color: $tope;
}

.icono-escritorio {
  font-size: 10pt;
  padding-top: 4px;
  color: $nube;
}

.tiempo {
  font-size: 8pt;
  color: $tope;
}
